tgcrypto
asyncio
ffmpeg-python
py-tgcalls==0.9.0b1
pyrogram
youtube-search-python
yt-dlp
lyricsgenius
speedtest-cli
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
wget
